/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 60px 0
}


section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

a:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/* * *  CSS AJOUTÉS  * * */

/* Filtres */

.filtres {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 50px;
}

.boutons {
	display: flex;
	margin: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
	font-family: 'Syne';
	border-color: #1D6154;
	border-style: solid;
	color: #1D6154;
	background-color: white;
	cursor: pointer;
}

/* Log In */


.nav {
	padding: 0 10px;
	font-size: 1.2em;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.btn-login {
	display: none;
}

.login {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.titre_login{
	padding: 50px;
}

.btn_connecter{
	margin-top: 50px;
	margin-left: 150px;
	margin-right: 150px;
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: #1D6154;
	color: white;
	font-family: 'Syne';
	border-width: 0px;
	border-radius: 20px;
	padding: 10px;
	cursor: pointer;
}

.btn_vert {
	background-color: #1D6154;
	color: white;
}

.mdp_oublie{
	padding-top: 20px;
	text-decoration: solid;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

.mention_lgl{
	position: absolute;
	bottom: 5%;
	right: 5%;
}

.classe_erreur{
	display: flex;
	justify-content: center;
	font-size: large;
	color: white;
	background-color: red;
	padding: 20px;
}

/* Modale 1 */

.mode-edition{
	display: flex;
	justify-content: center;
	flex-direction: row;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 50px;
	background-color: black;
}

.stylo{
	color: white;
	padding-left: 10px;
}

.txt-edition{
	color: white;
	margin-left: 10px;
}

.display-edition{
	display: flex;
	flex-direction: row;
	padding-right: 20px;
	padding-top: 18px;
}

.btn-header{
	background-color: white;
	color: black;
	border-radius: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	font-weight: 700;
	cursor: pointer;
}

.liens-modifier{
	display: flex;
	justify-content: center;
}

.display-modifier{
	padding-left: 20px;
	padding-top: 7px;
	font-size: large;
	width: 100px;
	display: flex;
}

.pad_modifier{
	padding-left: 60px;
	cursor: pointer;
}

.pen{
	color: black;
	display: flex;
	visibility: visible;
}

.btnmodal{
	text-decoration: none;
	color: black;
}

.modal{
	display: flex;
	justify-content: center;
	position: absolute;
	left: 30%;
	background-color: #ffffff;
	border-radius: 15px;
	z-index: 1;
}

.modal-wrapper{
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.display-img{
	width: 600px;
	display: grid;
	grid-template-columns: 70px 70px 70px 70px 70px;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-content: center;
}

.display-figure{
	position: relative;
}

.image-modale{
	width: 80px;
	height: 100px;
	display: flex;
}

.fa-trash-can{
	cursor: pointer;
	position: absolute;
	top: 5%;
	right: 0%;
	color: white;
	background-color: black;
	padding: 6px;
	border-radius: 5px;
}

#poubelle{
	border: none;
	width: 0px;
	height: 0px;
}

.close {
	display: flex;
	justify-content: end;
	padding-right: 30px;
	padding-top: 30px;
	cursor: pointer;
}

#titlemodal{
	font-size: xx-large;
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
	padding-top: 50px;
}

.border{
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-left: 50px;
	margin-right: 50px;
	border: solid #b3b3b3;
	border-width: 1px;
}

.btn-ajouter{
	margin-top: 50px;
	margin-left: 150px;
	margin-right: 150px;
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: #1D6154;
	color: white;
	font-family: 'Syne';
	border-width: 0px;
	border-radius: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
	font-size: medium;
}

.suppr{
	display: flex;
	justify-content: center;
	color: #D65353;
	padding-top: 20px;
	padding-bottom: 50px;
	cursor: pointer;
	font-family: 'Syne';
}

.shadow-body{
	background-color: rgba(0, 0, 0, 0.3);
}

.opacityIMG {
	filter: contrast(20%);
	z-index: 0;
}



/* Modale 2 */

.modal-add{
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flèche-gauche{
	padding-left: 20px;
	padding-top: 20px;
	cursor: pointer;
}

.choisir-photo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 50px;
	margin-right: 50px;
	background-color: #E8F1F7;
}

.fa-image{
	display: flex;
	justify-content: center;
	color: #b9c5cc;
	padding-top: 50px;
}

#imgInput{
	margin-right: 100px;
	margin-left: 100px;
	display: flex;
	justify-content: center;
	text-align: center;
	object-fit: cover;
}

.bouton-add-photo{
	margin-top: 30px;
	margin-left: 130px;
	margin-right: 130px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
	color: #306685;
	background-color: #CBD6DC;
	border: none;
	font-size: large;
	cursor: pointer;
	font-weight: 500;
	text-align: center;
}

.indication{
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 30px;
}

.form-modal{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 20px;
	padding-left: 100px;
	padding-right: 100px;
}

#label-titre{
	padding-bottom: 10px;
	font-size: medium;
	font-weight: 700;
	color: #3D3D3D;
}

#catégorie-id{
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: medium;
	font-weight: 700;
	color: #3D3D3D;
}

#title-input{
	border: none;
	height: 50px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#select-catégorie{
	border: none;
	height: 50px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.btn-valider{
	margin-top: 30px;
	margin-bottom: 50px;
	margin-left: 100px;
	margin-right: 100px;
	border: none;
	color: #ffffff;
	background-color: #A7A7A7;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 25px;
	font-family: 'Syne';
	cursor: pointer;
}


.none {
	display: none;
}